---
title: test__page
---
{% extends "layouts/_layout.html" %}
{% import "partials/_mixins.html" as mixins %}

{% import "tab/_tab.html" as tab__item %}
{% import "benefit/_benefit.html" as benefit__item %}

{% import "logo/_logo.html" as logo %}

{% import "data/tabs.html" as tabs %}
{% import "data/benefits.html" as benefits %}

{% block content %}

<div class="page-wrapper" style="background-image: url(img/bg__1-min.png)" data-mobile-bg-image="img/bg__1_mobile-min.png" data-desctop-bg-image="img/bg__1-min.png">
  <div class="page-wrapper__overlayout"></div>
  <main>
  <header class="page-header">
    {{ logo.content() }}
    <h1 class="page-title">Choose your pleasure plan</h1>
    <div class="page-actions">
      <div class="lang-select">
        <select name="lang-select" class="lang-select__select">
          <option value="en"
                  data-alt="<svg class='icon icon-united-kingdom'><use xlink:href='img/sprite.svg#icon-united-kingdom'></use></svg>"
                  data-use-alt-status ='true'
                  data-unq-img='1'>en</option>
          <option value="fi"
                  data-alt="<svg class='icon icon-finland'><use xlink:href='img/sprite.svg#icon-finland'></use></svg>"
                  data-use-alt-status ='true'
                  data-unq-img='2'>fi</option>
        </select>
      </div>
      <a href="#" class="service-link service-link--login">
        <span class="service-link__text-content">Login</span>
        {{ mixins.icon('key') }}
      </a>
      <a href="#" class="service-link service-link--join">Join Now</a>
    </div>
  </header>

	 <video class="video-container" autoplay loop muted></video>

    <div class="tabs-container _tabs-wrapper">
    {% for tab in tabs.tabs %}
      {{ tab__item.content({
        bgUrl: tab.backgroundImage,
        dscVideoUrl: tab.backgroundVideoOnDesktop,
        mobVideoUrl: tab.backgroundVideoOnMobile,
        icn: tab.icon,
        dimension: tab.dimension,
        price: tab.price
      }) }}
    {% endfor %}
  </div>
  </main>
  <footer class="benefits-container">
    {% for benefit in benefits.benefits %}
      {{ benefit__item.content({
        content: benefit.content,
        icon: benefit.icon
      }) }}
    {% endfor %}
  </footer>
</div>
{% endblock %}
